html {
    scroll-behavior: smooth;
}
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
 
    
}

html {
    scroll-behavior: smooth; /* ✨ This is the magic line! */
  }


  
/* Pour tous les éléments enfants du main */
main * {
    margin: 0;
    padding: 0;
}

@media (max-width: 420px) {
    body {
        width: 100%;
        
        min-width: 100%; /* Assure que le body occupe toute la largeur */
    }



    #navbar, #home, #about, #projects, #contacts {
        width: 100%;
      
    }

    /* Réduire la taille des polices si nécessaire */
    h1, h2, p {
        font-size: 1rem; /* Ajustez selon vos besoins */
    }


}
